<div class="container p-4">
    <h2> Employee Details</h2>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{employee.name}}</h5>

            <p class="card-text">Phone: {{employee.phone}}</p>
            <p class="card-text">Email: {{employee.email}}</p>
            <p class="card-text">Job: {{employee.job}}</p>
            <p class="card-text">Email: {{employee.email}}</p>

            <button type="button" class="btn btn-danger m-auto" (click)="closeModal()">
                Close </button>

        </div>
    </div>

</div>