

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Job</th>
            <th class="m-3">Edit</th>
            <th class="m-3">Delete</th>
            <th class="m-3">Details</th>


        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{employee.name}}</td>
            <td>{{employee.phone}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.job}}</td>
            
            <td class="m-3"><i class="fa-solid fa-pen-to-square text-success m-3"
                    (click)="updateEmployee(employee)"></i></td>
            <td class="m-3"><i class="fa-solid fa-trash text-danger ml-3" (click)="deleteEmployee(employee)"></i></td>
            <td class="m-3"><i class='bx bx-show' (click)="showEmployee(employee)"></i>
            </td>

        </tr>
    </tbody>
</table>